body{
display: flex;
justify-content: center;
align-items: center;}


#ballon{
    align-self: center;
    background-color: rgb(255,0,0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10rem;
}